<div class="px-4 py-2">
    <div class="name-card text-center col-lg-4 offset-lg-4 my-4">
        <h4>Public Portfolio Of:</h4>
        <h1>Andre L. Bruwer</h1>
        <img src="../../../assets/img/MainLogo.png" alt="Logo" class="w-100">
    </div>
    <br>
    <div class="welcome text-justify">
        <h1 class="text-center">Welcome, dear guest.</h1>
        <h4>As a creative endeavor, I have created this little corner of the internet that I wish to display some of my skills. This is by no means an exhaustive display of all that i can do as making these little projects takes time and effort. Here, I have an open-house policy and you can explore it to your heart's content.</h4>
        <h4>I truly hope you enjoy your stay.</h4>
    </div>
    <br>
    <br>
    <div class="skills text-center">
        <h2>I am skilled with the following:</h2>
        <div class="bg-white">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/photoshop_PNG7.png" alt="Adobe Photoshop" title="Adobe Photoshop" (click)="ExplainContent(0)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/windows.png" alt="Windows" title="Windows 10/7" (click)="ExplainContent(1)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/c-sharp.png" alt="C#" title="C-Sharp" (click)="ExplainContent(2)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/html.png" alt="html 5" title="HTML 5" (click)="ExplainContent(3)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/bootstrap.jpg" alt="Bootstrap" title="Bootstrap" (click)="ExplainContent(4)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/materialui.png" alt="Material UI" title="Material UI" (click)="ExplainContent(5)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/css3.png" alt="CSS3" title="CSS3" (click)="ExplainContent(6)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/javascript.png" alt="Javascript" title="Javascript" (click)="ExplainContent(7)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/gsap.png" alt="gsap Animations" title="gsap Animations" (click)="ExplainContent(8)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/php.png" alt="PHP" title="PHP" (click)="ExplainContent(9)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/GitHub-Mark.png" alt="Github" title="Github" (click)="ExplainContent(10)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/sql.png" alt="SQL" title="SQL" (click)="ExplainContent(11)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/postgress.png" alt="PostgreSQL" title="PostgreSQL" (click)="ExplainContent(12)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/Microsoft_Office_logo.png" alt="Microsoft Office Apps" title="Microsoft Office Apps" (click)="ExplainContent(13)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/google.png" alt="Google Apps" title="Google Apps" (click)="ExplainContent(14)" data-toggle="modal" data-target="#exampleModal">
        </div>
        <h6>(click on a logo to learn more about it)</h6>
        <br>
        <h2>I have experience with the following:</h2>
        <div  class="bg-white">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/angular.png" alt="Angular" title="Angular" (click)="ExplainContent(15)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/Typescript.png" alt="Typescript" title="Typescript" (click)="ExplainContent(16)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/firebase.png" alt="Firebase" title="Firebase" (click)="ExplainContent(17)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/node.png" alt="Node.js" title="Node.js" (click)="ExplainContent(18)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/java.jpg" alt="Java" title="Java" (click)="ExplainContent(19)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/shotcut.png" alt="Shotcut" title="Shotcut" (click)="ExplainContent(20)" data-toggle="modal" data-target="#exampleModal">
            <img class="btn col-lg-1 col-md-2 col-sm-3 col-xs-6" src="../../../assets/img/logo/AWS.jpg" alt="Amazon AWS" title="Amazon AWS" (click)="ExplainContent(21)" data-toggle="modal" data-target="#exampleModal">
        </div>
        <h6>(click on a logo to learn more about it)</h6>
        <div class="text-justify">
            <br>
            <img src="../../../assets/img/MySkills.png" alt="my skills">
            <br>
            <h2>In what order did i develop my skills?</h2>
            <h4 >I started where everyone starts at - The Operating System. For me i started on Windows XP. Thinking back, there wasn't much you could do on it, but for me it was the most advanced piece of technology in the home. It being able to play simple games was a much needed bonus. Nevertheless, over the years I become more and more acquainted behind the logic that technology adhered to. Certain app and features are comonly found in certain places. There unspoken rules are everywhere and whenever app designers deviate from this norm, their users were sure to let their dissatisfaction known.</h4>
            <br>
            <h4>As the years passed and Operating systems got replaced by new one's, so too did my knowledge grow with it. By the time i entered highschool is could already do anything i wanted to with the apps contained within the Microsoft Office Package. From Word,Excel, all the way to Powerpoint. I could write whatever i wanted to, and make it look good in the process.</h4>
            <h4>A few years later, we finally got internet at home and with most things online, you had to sign in with an email address to verify your identity. I opted to use Google's services and created my very first email address. I still use this email address to this very day. It was interesting back then when i created it because i wanted to use my name and surname. Oddly enough, my name and surname was already used by someone. So someone somewhere had either the same name and surname as me, or they were somehow creative enough to pick a name that exactly matches mine... Curious.</h4>
            <h4>So with me having created a Google account, i was greeted with an ever-growing list of useful apps. I mastered them too as the years passed. I was overjoyed whenever they added a nice feature and disappointed whenever they replaces something nice with something that i wasn't happy with. But every time they broken a thing i liked, i just explored ways to achieve the same goal, given the different ways to achieve them.</h4>
            <br>
            <h4>I was also a very creative person, so once i discovered that i can visualize my creativity using Adobe Photoshop, i couldn't help but devour it. I made pieces that i liked so much, i made them my Desktop Wallpaper which impressed whomever saw them.</h4>
            <h4>I had no prior experience with programming before i went to university, so i had to learn everything from the ground up. I quickly rose thorough the ranks as my practical skill were greatly appreciated by my peers who seeked advise.</h4>
            <h4>We started with C# and Java. Java was primarily used to demonstrate Object Oriented Programming where C# were used to demonstrate how code could be affected by graphical components. We learned how to use simple SQL databases and queries to store data and we learned Github to make group work a lot more streamlined. I learned a lot of skills at university, skills that I don't even notice when I use them.</h4>
            <h4>Once I graduated from university, my skills were put to the test. I soon learned that what was done at the workplace were much more complicated than whatever we did at university and that i was going to have to hit the ground running if i ever wanted to survive.</h4>
            <br>
            <h4>I was tasked with implementing a Database for the place i worked because the amount of data they were generating grew much faster than they previously anticipated. The simple Excel spreadsheets were no longer adequate for their operation. Thus i used my C# and SQL to make a simple database that was locally hosted on their servers.</h4>
            <h4>Once that was complete i was tasked with improving their website as the people who previously maintained it left the company. Having no experience, i spent a few weeks getting used to HTML, CSS and Javascript as well as how they all fit together. I made a simple website that now that i look back, were barely passable but it served its purpose well.</h4>
            <h4>The company then asked for a way to provide online courses given the technology they had to their disposal. This put my skills to an extreme test. and withing a few weeks, i had developed not only a system that they can easily add new online courses, I also replaced their previous website with one that looked and felt much better.</h4>
            <h4>As time went on I ahd migrated the local SQL server and all of its data onto a AWS server that ran a PostgreSQL database. PostgreSQL is an improved version of SQL with a bunch of nice features as well as all the base features of SQL.</h4>
            <h4>At the moment I am working on learning the Angular Framework, which will use and extend all of my previous website building skill.</h4>
            <br>
            <h3>IT is a journey of continuous development and as someone who loves to learn new things, it suits me like a glove.</h3>
        </div>



        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{selectedApp.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                {{selectedApp.desc}}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


