<div class="px-4 py-2">
    <div class="name-card text-center col-lg-4 offset-lg-4 my-4">
        <h4>Public Portfolio Of:</h4>
        <h1>Andre L. Bruwer</h1>
        <img src="../../../assets/img/MainLogo.png" alt="Logo" class="w-100">
    </div>
    <br>
    <div class="welcome text-justify">
        <h1 class="text-center">Welcome, dear guest.</h1>
        <h4>As a creative endeavor, I have created this little corner of the internet that I wish to display some of my skills. This is by no means an exhaustive display of all that i can do as making these little projects takes time and effort. Here, I have an open-house policy and you can explore it to your heart's content.</h4>
        <h4>I truly hope you enjoy your stay.</h4>
    </div>
    <br>
    <div class="skills text-center">
        <h2>I am skilled with the following:</h2>
        <div>
            <img class="col-lg-1 col-md-2 col-sm-3" src="../../../assets/img/logo/windows.png" alt="Windows" data-toggle="tooltip"            data-placement="bottom" title="Windows 10/7">
            
        </div>
        <h2>I have experience with the following:</h2>
        <div>

        </div>
    </div>
</div>

